.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#solar-grid{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
}

#angleControl{
    margin-top: 50px;
}

.button{
    font-size: 20px;
    padding: 10px;
}
