.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solar-grid{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
}

.string{
    display: flex;
    gap: 10px;
    width: max-content;
}

.solar-panel{
    display: flex;
    height: 100px;
    width: 50px;
    background-color: blue;
    position: relative;
}

.solar-panel:first-child::after{
    content: '';
    display: flex;
    height: 500px;
    border-radius: 250px;
    width: 500px;
    position: absolute;
    border: 1px solid red;
    left: -225px;
    top: -200px;
}